[url "git@github.com:"]
	insteadOf = https://github.com/
[user]
	name = John Coleman
        #name = John Coleman and Travis Herrick
	email = jcoleman@pagerduty.com
[core]
	editor = emacs
[format]
        pretty = format:%C(yellow)%h%Creset | %C(cyan)%cr%Creset | %s %C(yellow)%d %Cred[%an]
[alias]
        conflict = !git info `cat .git/HEAD` && git info `cat .git/rebase-apply/original-commit`
        newbranch = "!newbranch() { git checkout master && git fetch origin master && git reset --hard origin/master && git checkout -b \"$1\"; }; newbranch"
